CompileFlags:
  Add:
    - -I./src/HAL/Gpio
    - -I./src/Adapter
    - -I./src/logger
    - -I./src/protocol
    - -I./src/protocol/messages
    - -I./src/protocol/utils
    - -std=c++17
  Remove: 
    - -W*
    - -w
  CompilationDatabase: ./build

Diagnostics:
  ClangTidy:
    Add: 
      - readability-*
      - performance-*
      - modernize-*
    Remove:
      - readability-magic-numbers
      - modernize-use-trailing-return-type
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build 