CompileFlags:
  Add: 
    - -std=c++17
    - -Wall
    - -Wextra
  Remove: 
    - -W*
    - -w
  CompilationDatabase: build

Diagnostics:
  ClangTidy:
    Add: 
      - readability-*
      - performance-*
      - modernize-*
    Remove:
      - readability-magic-numbers
      - modernize-use-trailing-return-type
  UnusedIncludes: Strict

Index:
  Background: Build 